<div class="FeedbackPage">
  <div class="container">
    <div class="feedback-apartment">
     <div><label>Apartment</label></div>
      <div><input type="text" placeholder="Apartment Name" /></div>
    </div>
    <div class="Feedback-Smileys">
      <div class="smileys">
        <span class="happy"><img src="../images/svg/thumbsupsmiley.jpg" alt="happy_face"/></span>
        <span class="bad"><img src="../images/svg/Thumbs_down_smiley2.png" alt="sad_face"></span>
      </div>
    </div>
    <div class="feedback-comments">
        <textarea class="comments" placeholder='Comments'></textarea>
    </div>
    <div class="p1"><button class="btn btn-outline-dark">Submit</button></div>
  </div>
</div>