{% load static %}
<div class="footer-wrapper bg-dark">
    <div class="footer">
<a href="#">
<div class="logo">
<img src="{% static 'images/svg/font.svg' %}" width="30" height="30" class="d-inline-block align-top" alt="Tectum">
    <span class="texttitle">ectum</span>
</div>
</a>
<div class="SocailLinks">
<h4>Social Connect</h4>
<ul class="SocilaLinks-wrapper">


          <li><div class="facebook" title="Facebook"><img src="" alt="Facebook"></div></li>
          <li><div class="twitter" title="twitter"><img src="" alt="twitter"></div></li>

  </ul></div>
  <div class="copyRight">
        © 2018 Tectum, Inc. All Rights Reserved.
       </div>
</div>

</div>

