{% load static %}
{#{% csrf_token %}#}
{% for field in form.visible_fields %}
    {{ field.help_text }} <br/>
    {{ field }} <br/>
    {{ field.errors }}<br/>
{% endfor %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Tectum-Home Page</title>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet"/>
  		<link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'css/demo.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'css/component.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'css/cs-select.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'css/cs-skin-boxes.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'css/tectum.css' %}" />
{#		<script src="{% static 'js/angular.min.js' %}"></script>#}
{#		<script src="{% static 'js/modernizr.custom.js' %}"></script>#}
</head>
<body>
    <div class="LoginPage">

        <div class="container logincontainer">
            
            <div class="row">
                <h2 class="emaillogin">Login With Email </h2>
                <form method="POST" action="/authorize/login/" class="LoginForm" autocomplete="off">
                    {% csrf_token %}
                    <div class="Email">
                        <input type="text" id="username" style="color: black;" name="username" placeholder="username" required="True">
                    </div>

                    <div class="Password">
                        <input type="password" style="color: black;" id="user_password" name="user_password" placeholder="Password" required="True">
                    </div>

                    <div>
                        <input type="submit" value="Login" class="btn loginbtn"/>
                    </div>

                    <!--<label>
                        <input type="checkbox" checked="checked" name="remember"> Remember me
                    </label>

                    <div>
                        <input type="reset" class="button cancelbtn" value="Cancel"></input>
                        <span class="psw"><a href="#"> Forgot Password ?</a></span>
                    </div>-->
                </form>
            </div>
            <h2> {{ error }}</h2>
        </div>
    </div>
</body>
</html>
